@page "/snake"
@using System.Timers
@implements IDisposable
@inject IJSRuntime JS

<div class="container-fluid text-center">
    <h2>Snake</h2>
</div>

<h4>Dificultad</h4>
<div class="form-check-inline">
    <input @onchange="@(()=>updateDifficulty(1000))" class="form-check-input" type="radio" name="difficulty" id="easy" value="1000" checked>
    <label class="form-check-label" for="easy">
        Fácil
    </label>
    <br />
    <input @onchange="@(()=>updateDifficulty(300))" class="form-check-input" type="radio" name="difficulty" id="normal" value="300">
    <label class="form-check-label" for="normal">
        Normal
    </label>
    <br />
    <input @onchange="@(()=>updateDifficulty(100))" class="form-check-input" type="radio" name="difficulty" id="hard" value="100">
    <label class="form-check-label" for="hard">
        Dificil
    </label>
    <br />
    <input @onchange="@(()=>updateDifficulty(50))" class="form-check-input" type="radio" name="difficulty" id="extreme" value="50">
    <label class="form-check-label" for="extreme">
        Extremo
    </label>
    <br />
</div>

<table class="game" runat="server">
    @for (var j = 0; j < MaxY; j++)
    {
        <tr>
            @for (var i = 0; i < MaxX; i++)
            {
                if (AppleX == i && AppleY == j)
                {
                    <td class="apple"></td>
                }
                else if (SnakeX == i && SnakeY == j)
                {
                    <td class="snake"></td>
                }
                else if (SnakeX == AppleX && SnakeY == AppleY)
                {
                    Score += 50;
                    CreateApple();

                }
                else if (SnakeX < 0 || SnakeX >= MaxX || SnakeY < 0 || SnakeY >= MaxY)
                {
                    TimerStop();
                    GameOver = true;
                }
                else
                {
                    <td class="board"></td>
                }
            }
        </tr>
    }
</table>

<p class="mt-3 ml-3">Valor contador: @Counter</p>
<p class="mt-3 ml-3">Puntos: @Score</p>

@if (GameOver)
{
    <h2>Has perdido</h2>
}

<input id="controls" class="txtControl mb-2" type="text" @onkeydown="KeyboardEventHandler" />
<button class="btnPlay btn-block" @onclick="TimerStart">Jugar</button>


@code {

    public int MaxX { get; set; }
    public int MaxY { get; set; }
    public int AppleX { get; set; }
    public int AppleY { get; set; }
    public int SnakeX { get; set; } = 10;
    public int SnakeY { get; set; } = 10;
    public Random RandNum = new Random();
    private Timer MyTimer = new();
    private int Counter, Direction, Score;
    private bool GameOver = false;
    private const int
        LEFT = 0,
        UP = 1,
        RIGHT = 2,
        DOWN = 3;
    private int lastDirection = RIGHT;

    private void KeyboardEventHandler(KeyboardEventArgs args)
    {
        switch (args.Key)
        {
            case "ArrowLeft":
                if (lastDirection != RIGHT)
                {
                    Direction = LEFT;

                }
                break;
            case "ArrowUp":
                if (lastDirection != DOWN)
                {
                    Direction = UP;
                }
                break;
            case "ArrowRight":
                if (lastDirection != LEFT)
                {
                    Direction = RIGHT;
                }
                break;
            case "ArrowDown":
                if (lastDirection != UP)
                {
                    Direction = DOWN;
                }
                break;
        }
    }

    protected override void OnInitialized()
    {
        MyTimer.Interval = 1000;
        MyTimer.Elapsed += TimerEvent;
        MaxX = 20;
        MaxY = 20;
        Counter = 0;
        CreateApple();
    }


    private void CreateApple()
    {
        AppleX = RandNum.Next(0, MaxX);
        AppleY = RandNum.Next(0, MaxY);
    }

    private void TimerStart()
    {
        MyTimer.Start();
        focusOnControls();
    }

    private async Task focusOnControls()
    {
        await JS.InvokeVoidAsync("setFocusOnInput");
    }

    private void TimerStop()
    {
        MyTimer.Stop();
    }

    private void TimerEvent(object senter, ElapsedEventArgs e)
    {
        Counter++;
        switch (Direction)
        {
            case LEFT:
                SnakeX--;
                break;
            case UP:
                SnakeY--;
                break;
            case RIGHT:
                SnakeX++;
                break;
            case DOWN:
                SnakeY++;
                break;
        }
        lastDirection = Direction;
        InvokeAsync(StateHasChanged);
    }

    public void updateDifficulty(int DifficultyValue)
    {
        MyTimer.Interval = DifficultyValue;
        focusOnControls();
    }

    public void Dispose()
    {
        MyTimer.Dispose();
    }
}
